%h2 Education
#popout.section.scrollspy
  %ul.collapsible.popout.collapsible-accordion{"data-collapsible" => "accordion"}
    - data.education.each do |edu|
      %li
        .collapsible-header
          .div.text-cv
            %span.title-exp #{edu[:title]}
            %span.sub-title-exp #{edu[:school]} - #{edu[:years]}
        .collapsible-body.white
          #{edu[:extended]}
          %a{:href => "#{edu[:url]}"}
            .strong Link: #{edu[:school]}
%h2 Work experience
#popout.section.scrollspy
  %ul.collapsible.popout.collapsible-accordion{"data-collapsible" => "accordion"}
    - data.work.each do |edu|
      %li
        .collapsible-header
          .div.text-cv
            %span.title-exp #{edu[:title]}
            %span.sub-title-exp #{edu[:employer]} - #{edu[:years]}
            #{edu[:objectives]}
        .collapsible-body.white
          #{edu[:extended]}
          %a{:href => "#{edu[:url]}"}
            .strong Link: #{edu[:employer]}
%h2 Other experience
#popout.section.scrollspy
  %ul.collapsible.popout.collapsible-accordion{"data-collapsible" => "accordion"}
    - data.other.each do |edu|
      %li
        .collapsible-header
          .div.text-cv
            %span.title-exp #{edu[:title]}
            %span.sub-title-exp #{edu[:employer]} - #{edu[:years]}
            #{edu[:objectives]}
        .collapsible-body.white
          #{edu[:extended]}
          %a{:href => "#{edu[:url]}"}
            .strong Link: #{edu[:employer]}
